<app-header> </app-header> <!-- header component -->
<div class="container">
  <div class="row">
  <form>
    <div class="form-group">
      <label for ="value"> Enter a number </label>
      <input type="number" class="form-control" id="value" [(ngModel)]="value" name="number" #number="ngModel" required>
      <!-- validation -->
      <div *ngIf="number.errors && (number.dirty || number.touched)"
           class="alert alert-danger">
          <div [hidden]="!number.errors.required">
            Number is required
          </div>
      </div>
     </div>
     <button (click)="primeNumber()" type="submit" class="btn btn-default"> Submit </button>
  </form>
  </div>
  <!-- prime number component, to show the result-->
  <div *ngIf="calculated">
    <app-prime [prime]= "prime"> </app-prime>
  </div>
</div>